html{
    background: #e4e0de;
}

body {
    margin: 0;
    font-family: 'Raleway', sans-serif;
    background: #B8B8B8;
}

ul {
    margin: 0px;
}

li {
    list-style: none;
}

a {
    text-decoration: none;
    display: block;
}

p {
    margin: 0px;
    padding: 0px;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    margin: 0px;
    padding: 0px;
}




.page {
    display: flex;
    background: #e4e0de;
}

.content {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;


    background: #e4e0de;

    height: 100%;
    width: 100%;
    margin-left: 300px;
}

.link {
    padding: 20px;

    font-size: 20px;

    color: #fff;

}

/*LOGO ///////////////////////////////////////*/
.logo {
    height: 100px;
    width: 250px;
    background: #2c3337;
    color: #adbabd;
    font-size: 24px;
}

.logo p {
    margin: auto;
}

.logo a {
    width: 250px;
    height: 35px;

    padding: 35px 15px;
}

/*******************************************/


/*MENU ///////////////////////////////////*/
.menu {
    position: fixed;
    top: 0;
    left: 0;
    height: 100%;
    width: 300px;
    background: #2c3337;
    margin: 0;
}

.menu_list {
    color: #fff;
    opacity: .5;
    font-size: 25px;
    line-height: 2.3;
    padding-left: 25px;
}

.selected {
    border-left: solid 5px #7B68EE;
    color: #fff;
    opacity: 1;
}

.selected a {
    border-left: 0px;
}

.menu ul li:hover {
    border-left: solid 5px #7B68EE;
}

.menu ul li {
    margin-bottom: 10px;
}

.menu_list:hover {
    color: #fff;
    opacity: 1;
}

/********************************************/


/*MAIN_HELP ////////////////////////////////*/
.main_help {
    display: flex;
    flex-direction: column;

    align-items: center;


    width: 1000px;

    margin: 50px auto 0px auto;
    padding: 20px 100px 30px 30px;
    background: #d6d6d6;
}

.main_help_title h1 {
    font-size: 30px;

    margin-bottom: 10px;
}

/********************************************/

.main_text {
    font-size: 22px;
}

.main_text p {
    text-indent: 40px;
    text-align: justify;
    margin: 15px;
}


/*STATS  ///////////////////////////////////*/
.stats {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background: #fff;
    margin-top: 50px;

    width: 1000px;
    max-width: 100%;
    padding: 20px 100px 30px 30px;
}

.stats_title {
    font-size: 14px;
}

.blocks {
    display: flex;
    justify-content: center;
    align-items: center;

    width: 1000px;
}

.block {


    height: 150px;
    width: 220px;

    border-top: solid 1px;

    padding-top: 15px;

    margin-top: 10px;
    margin-right: 25px;

    font-size: 18px;

}

.block:last-child {
    margin-right: 0;
}

#bl_1 {
    width: 250px;
}

#bl_3 {
    width: 250px;
}

/********************************************/

.help_list {
    list-style: disc;

    line-height: 1.5;

    font-size: 22px;
}




/*PROJECT_PAGE/////////////////////////////*/
.content_projects {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: center;
    align-items: center;

    background: #e4e0de;

    padding: 50px 15px 0 15px;
}

.project {
    position: relative;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    order: initial;

    line-height: 1.5;

    width: 330px;
    height: 160px;

    padding: 45px 25px 45px 25px;

    margin: 15px;

    background: #fff;

    -webkit-box-shadow: -10px -10px 0px 0px rgba(87, 87, 87, 1);
    -moz-box-shadow: -10px -10px 0px 0px rgba(87, 87, 87, 1);
    box-shadow: -10px -10px 0px 0px rgba(87, 87, 87, 1);
}

.project_btn {
    position: absolute;
    bottom: 10px;

    margin: 25px auto 0 auto;
    padding: 15px;

    line-height: 0;

    border: 0;

    color: #fff;

    outline: 1px solid #575757;

    text-transform: uppercase;

    cursor: pointer;

    background: #575757;

    transition: background .2s linear;
}

.project_btn:hover {
    background: rgba(87, 87, 87, .8);
}

#next_project {
    padding: 15px 60px;
    margin: 15px;

    cursor: pointer;

    color: #fff;

    background: #575757;
    outline: 1px solid #575757;

    transition: background .2s linear;

    border: 0;
}

#next_project:hover{
    background: rgba(87, 87, 87, .8);
}

#more_projects {
    display: none;
}

.project_span {
    padding-top: 20px;

    display: none;
}

/********************************************/


/*TEAM_PAGE/////////////////////////////*/
.wrapper-2 {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: center;
    align-items: center;

    margin-left: 250px;
}

.content_team {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    margin-left: 80px;
}

.team_inner {

    margin: 5px 15px 0px 15px;

    width: 215px;
    height: 100%;
}

.team_person {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
}

.team_person a {


    color: #000;
}

.person_text {
    margin: 15px 0;
    padding: 15px;

    background: #fff;
}

.person_text p {
    padding: 5px 0;

    text-transform: capitalize;
}

.team_person h5 {
    font-size: 16px;
}

.team_person p {
    font-size: 14px;
}

.team_person:hover .person_text {
    background: #00BFFF;

    transition: all .2s linear;

    -webkit-box-shadow: 0px 0px 7px 1px rgba(0, 191, 255, 1);
    -moz-box-shadow: 0px 0px 7px 1px rgba(0, 191, 255, 1);
    box-shadow: 0px 0px 7px 1px rgba(0, 191, 255, 1);

    color: rgba(255, 255, 255, .75);

}

.rety {
    margin-top: 25px;
}

/********************************************/


.naprav {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background: #d6d6d6;
    margin-top: 50px;
    width: 1000px;
    max-width: 100%;
    padding: 20px 100px 30px 30px;
    margin-bottom: 30px;
}

.naprav_title {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.naprav_title h1 {
    margin-bottom: 10px;
}

.naprav_text {
    font-size: 22px;
}

#no_disck {
    list-style: none;
}

.story {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background: #d6d6d6;
    margin-top: 50px;
    width: 1000px;
    max-width: 100%;
    padding: 20px 100px 30px 30px;
    margin-bottom: 30px;
}

.story_title h1 {
    margin-bottom: 10px;
}

.story_text {
    font-size: 22px;
}

.story_text p {
    text-indent: 40px;

    line-height: 1.5;

    text-align: justify;
}

/*CONTACTS_PAGE/////////////////////////////*/
.address_list {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    max-width: 770px;

    margin: 25px;
    padding: 25px 80px 15px 80px;

    background: #fff;
}

.address {
    width: 100%;
}

.address h3 {
    text-transform: uppercase;
    text-align: center;
    font-size: 24px;
}

.address p {
    font-size: 18px;
}

/********************************************/
.person_info {
    display: flex;
    justify-content: space-between;

    margin: 50px;
    padding: 20px 30px;

    background: #fff;

    width: 75%;
}

.person_title {
    font-weight: bold
}

.person_info_text p {
    margin: 10px auto;
}

.person_info img {
    margin-left: 25px;
}

.person_list {
    list-style: disc;
    line-height: 1.3;
}


/*Media***********************************/


@media (max-width: 1360px) {
    .stats {
        width: 900px;
        padding: 20px;
    }

    .stats_title {
        font-size: 12px;
    }

    .block {
        width: 40%;
        height: 100px;
        font-size: 16px;
        margin: 10px 50px;
    }

    .block:last-child {
        margin-right: 50px;
    }

    .blocks {
        flex-direction: row;

        width: auto;
        flex-wrap: wrap;
    }

    .main_help {
        width: 900px;
        padding: 20px;
    }

    .main_help_title {
        font-size: 12px;
    }

    .help_list {
        font-size: 20px;
    }

    .naprav {
        width: 900px;
        padding: 20px;
    }

    .naprav_title {
        font-size: 14px;
    }

    .story {
        width: 900px;
        padding: 20px;
    }

    .story_title {
        font-size: 14px;
    }

    .story_text {
        font-size: 20px;
    }
}

@media (max-width: 1280px) {
    .stats {
        width: 800px;
        padding: 20px;
    }

    .stats_title {
        font-size: 10px;
    }

    .block {
        height: 100px;
        font-size: 14px;
        margin: 10px 50px;
    }

    .block:last-child {
        margin-right: 50px;
    }

    .blocks {
        width: auto;
        flex-wrap: wrap;
    }

    .main_help {
        width: 800px;
        padding: 20px;
    }

    .main_help_title {
        font-size: 10px;
    }

    .help_list {
        font-size: 20px;
    }

    .naprav {
        width: 800px;
        padding: 20px;
    }

    .naprav_title {
        font-size: 14px;
    }

    .story {
        width: 800px;
        padding: 20px;
    }

    .story_title {
        font-size: 14px;
    }

    .story_text {
        font-size: 20px;
    }
}

@media (max-width: 360px) {
    .menu {
        width: 100px;
    }

    .logo {
        width: 100px;
    }

    .content {
        height: 100%;
        padding: 10px 0;
        justify-content: flex-start;
    }

    .stats {
        width: 600px;
        height: 650px;
        padding: 20px;
    }

    .stats_title {
        font-size: 16px;
    }

    .block {
        font-size: 26px;
        margin: 10px 25px;
    }

    .block:last-child {
        margin-right: 25px;
    }

    .blocks {
        height: 100%;
    }

    .main_help {
        width: 600px;
        padding: 20px;
    }

    .main_help_title {
        font-size: 16px;
    }

    .help_list {
        font-size: 24px;
    }

    .naprav {
        width: 800px;
        padding: 20px;
    }

    .naprav_title {
        font-size: 14px;
    }

    .story {
        width: 800px;
        padding: 20px;
    }

    .story_title {
        font-size: 14px;
    }

    .story_text {
        font-size: 20px;
    }

    .content_projects {
        font-size: 24px;
    }

    .project {
        height: 180%;
    }

    .project_span {
        font-size: 28px;
    }

    .project_btn {
        font-size: 24px;
    }
}


/*///////////////////////////////////////*/
